body {
    background: rgb(87, 151, 194);
}
.header {
    color: rgb(126, 235, 30);
    font-style: italic;
}

p.parg_1 {
    font-size: 15px;
}

p.parg_2 {
    text-indent: 250px;
    font-size: 15px;
}

img {
    width: 500px;
}

img.img_2 {
    width: 700px;
 }

 ul {
    font-size: 20px;
}

 li {
    font-size: 15px;
 }